<div class="side-menu">
  <div class="logo-image">
    <img src="https://cf.dropboxstatic.com/static/images/brand/glyph@2x-vflJ1vxbq.png" alt="dropbox-logo" />
  </div>
  <div class="nav-items">
    <div class="nav-files">
      <i class="fa fa-file" aria-hidden="true"></i>
      <li><a ng-href="#/files"translate="FILES"></a></li>
    </div>
    <div class="nav-photos">
      <i class="fa fa-file-image-o" aria-hidden="true"></i>
      <li><a href="#" translate="PHOTOS">Photos</a></li>
    </div>
    <div class="nav-sharing">
      <i class="fa fa-share" aria-hidden="true"></i>
      <li><a href="#" translate="SHARING">Sharing</a></li>
    </div>
    <div class="nav-links">
      <i class="fa fa-anchor" aria-hidden="true"></i>
      <li><a href="#" translate="LINKS">Links</a></li>
    </div>
    <div class="nav-events">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <li><a href="#" translate="EVENTS">Events</a></li>
    </div>
    <div class="nav-start">
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <li><a href="#" translate="STARTED">Get Started</a></li>
    </div>
  </div>
  <div class="capacity">
    <li><i class="fa fa-database"></i></li>
    <li>50 GB / 100 GB</li>
  </div>
  <div class="upgrade">
    <li><i class="fa fa-arrow-up"></i></li>
    <li translate="UPGRADE_ACCOUNT">Upgrade account</li>
  </div>
</div>
